<div class="student-form" [formGroup]="editStudentFormGroup">
  <div>
    <span> ชื่อ : </span>
    <input type="text" pInputText name="" id=""  formControlName="name"/>
    <!-- <p-message *ngIf="nameFormControl.touched && nameFormControl.invalid " severity="error" text="Field is required"></p-message> -->
    <p-message *ngIf="nameFormControl.dirty && nameFormControl.invalid " severity="error" text="Field is required"></p-message>
  </div>
  <div>
    <span> อีเมล์ : </span>
    <input type="text" pInputText name="" id=""  formControlName="email"/>
    <p-message *ngIf="emailFormControl.hasError('required') && emailFormControl.dirty && emailFormControl.invalid " severity="error" text="Field is required"></p-message>
    <p-message *ngIf="emailFormControl.hasError('email') && emailFormControl.dirty && emailFormControl.invalid " severity="error" text="invalid email"></p-message>
  </div>
  <div>
    <span> โทรศัพท์ : </span>
    <input type="text" pInputText name="" id=""  formControlName="tel"/>
    <p-message *ngIf="telFormControl.dirty && telFormControl.invalid " severity="error" text="Field is required"></p-message>
  </div>
  <div>
    <span>CreateDate</span>
    <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
  </div>

  <div class="query-container">
    <p-button [disabled]="editStudentFormGroup.invalid" label="บันทึก" (onClick)="saveStudent()"> </p-button>
    <p-button label="ล้างค่า" (onClick)="resetStudent()"> </p-button>
    <p-button label="ย้อนกลับ" (onClick)="backClicked()" > </p-button>
  </div>
</div>
