<!-- <app-action-bar [(number)]="actionBarNumber1" (numberChange)="sumResult()" [notBelow]="0" [step]="1" [notMore]="100"></app-action-bar>
<app-action-bar [(number)]="actionBarNumber2" (numberChange)="sumResult()" [notBelow]="-10" [step]="10" [notMore]="200"></app-action-bar>
<app-action-bar [(number)]="actionBarNumber3" (numberChange)="sumResult()" [notBelow]="-100" [step]="100" [notMore]="400"></app-action-bar> -->
<!-- <app-ma4jay3></app-ma4jay3> -->
<!-- <div>
  ผลรวม {{result}}
</div> -->
<!-- <div>
  ผลรวม {{actionBarNumber2}}
</div>
<div>
  ผลรวม {{actionBarNumber3}}
</div> -->
<!-- <button (click)="">คำนวณ</button> -->

<!-- <p-button label="Submit" (click)="actionBarNumber1 = 100" >changeActionBar</p-button>
<p-button label="Submit" (click)="actionBarNumber2 = 0" >changeActionBar</p-button>
<p-button label="Submit" (click)="actionBarNumber3= 400" >changeActionBar</p-button>
<p-button label="Submit" [disabled]="true"></p-button>
<button pButton pRipple type="button" label="Primary" class="p-button-rounded"></button>
<button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded"></button> -->

<div class="container">
  <header class="container_header">
    <span [routerLink]="['home']">Home</span>
    <span [routerLink]="['student']">Student</span>
    <span [routerLink]="['add']">Add Student</span>
  </header>
  <main class="container_main">
    Hello Git
    <router-outlet></router-outlet>
  </main>
</div>
