<app-action-bar [(number)]="actionBarNumber1" (numberChange)="sumResult()" [notBelow]="0" [step]="1" [notMore]="100"></app-action-bar>
<app-action-bar [(number)]="actionBarNumber2" (numberChange)="sumResult()" [notBelow]="-10" [step]="10" [notMore]="200"></app-action-bar>
<app-action-bar [(number)]="actionBarNumber3" (numberChange)="sumResult()" [notBelow]="-100" [step]="100" [notMore]="400"></app-action-bar>
<div>
  ผลรวม {{result}}
</div>


{{status | status}}

<div *ngFor="let student of students">
  <span style="padding-right:0.5em">{{student.name}}</span>
  <span>{{student.status | status}}</span>
</div>

{{date | date:'short'}}
<br/>
{{ bath | currency}}
<br>
{{power | number:'1.2'}}


<input [formControl]="pokemonNameFormControl"
 type="text" name="" pInputText id="">


{{pokemon$ | async | json}}
